html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.2;
    background: #f5f7fa;
    margin: 0;
    padding: 0;
    font-size: 2rem;
}

header {
    padding: 4rem 3rem;
    background: rgb(250, 255, 250);
    border: 2px solid #ebebeb;
    display: flex;
    gap: 3rem;
    align-items: center;
    margin: auto;
    line-height: 1rem;

}

footer {
    font-size: 2.5rem;
    padding: 2rem 1rem;
    text-align: center;
    margin: auto ;
    background-color: #fbfff9;
    border-top: 1px solid rgb(209, 209, 209);

}

.avatar {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.title {
    font-size: 2.3rem;
    color: #328CC1;
}

section {
    max-width: 1400px;
    margin: auto;
    background: rgb(235, 241, 235);
    padding: 1rem;
    margin-top:0.5rem;
    border-radius: 12px;
}

h2 {
    margin-bottom: 1rem;
    color: #167cbf;
}

.project {
    margin-bottom: 1rem;
}

a {
    color: #f8aaaa;
    text-decoration: none;
}

.name {
    animation: changeColor 2s infinite;
}

.gradient-text{
    padding:0.3em 0 ;
  background: linear-gradient(45deg, rgb(255, 56, 56), rgb(255, 149, 0),rgb(255, 255, 0),rgb(153, 255, 37), rgb(8, 191, 8),rgb(63, 255, 149), rgb(0, 255, 255), rgb(53, 69, 255),rgb(136, 80, 255), rgb(255, 136, 255),rgb(255, 0, 217));
  background-size: 800%;
  -webkit-background-clip: text;
  color: transparent;
  animation: rainbow 80s linear infinite;
}

@keyframes rainbow {
  0%   { background-position: 0%; }
  100% { background-position: 400%; }
}

@keyframes changeColor {
    0% {color: red;}
    25% {color: orange;}
    50% {color: yellow;}
    75% {color: green;}
    100% {color: blueviolet;}
}

@media (max-width: 1400px) {
    section {
        max-width: 1300px;
    }

    .title {
        color: rgb(231, 64, 181);
    }
    .avatar {
        width: 150px;
        height: 150px;
    }
    body {
        font-size: 1.6rem;
        line-height: 1.8rem;
    }
}

@media (max-width: 1000px) {
    section {
        max-width: 900px;
    }

    .title {
        color: red;
    }
    footer {
        padding: 1.4rem;
        font-size: 1.8rem;
    }
}

@media (max-width: 600px) {
    .title {
        color: rgb(91, 82, 146);
    }
    body {
        font-size: 1.2rem;
        line-height: 1.3rem;
    }
    header {
        padding: 1rem;
        flex-direction: column;
        text-align: center;
    }
    section {
        padding: 1.5rem;
        max-width: 500px;
    }
    .avatar {
        width: 100px;
        height: 100px;
    }
    footer {
        font-size: 1.3rem;
        padding: 0.8rem 0;
    }
}
