html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.2;
    background: #f5f7fa;
    margin: 0;
    padding: 0;
    font-size: 2rem;
}

header {
    padding: 4rem 3rem;
    background: rgb(250, 255, 250);
    border: 2px solid #ebebeb;
    display: flex;
    gap: 3rem;
    align-items: center;
    margin: auto;
    line-height: 1rem;

}

.avatar {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.title {
    font-size: 2.3rem;
    color: #328CC1;
}

section {
    max-width: 1400px;
    margin: auto;
    background: rgb(235, 241, 235);
    padding: 1rem;
    margin-top:0.5rem;
    border-radius: 12px;
}

h2 {
    margin-bottom: 1rem;
    color: #167cbf;
}

.project {
    margin-bottom: 1rem;
}

a {
    color: #f8aaaa;
    text-decoration: none;
}

@media (max-width: 1400px) {
    section {
        max-width: 1300px;
    }

    .title {
        color: rgb(231, 64, 181);
    }
    .avatar {
        width: 150px;
        height: 150px;
    }
    body {
        font-size: 1.6rem;
        line-height: 1.8rem;
    }
}

@media (max-width: 1000px) {
    section {
        max-width: 900px;
    }

    .title {
        color: red;
    }
}

@media (max-width: 600px) {
    .title {
        color: rgb(24, 122, 31);
    }
    body {
        font-size: 1.2rem;
        line-height: 1.3rem;
    }
    header {
        padding: 1rem;
        flex-direction: column;
        text-align: center;
    }
    section {
        padding: 1.5rem;
        max-width: 500px;
    }
    .avatar {
        width: 100px;
        height: 100px;
    }
}
